<h1>Editing budget transaction</h1>

<%= render "form", budget_transaction: @budget_transaction %>

<br>

<div>
  <%= link_to "Show this budget transaction", @budget_transaction %> |
  <%= link_to "Back to budget transactions", budget_transactions_path %>
</div>
